.spot-card-right-panel {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    color: #f00;
}
.star {
    color: #ff385c;
    font-size: 16px;
}

.spot-card {
    margin-bottom: 1rem;
    margin-inline: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    width: 300px;
}

.img {
    width: 14.2rem;
    display: flex;
    cursor: pointer;
}

.spot-image {
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.spot-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.left-panel {
    cursor: pointer;
    margin-bottom: 2px;
}

.price {
    cursor: pointer;
    margin-top: 5px;
    gap: 5px;
}

#price {
    cursor: pointer;
    font-weight: bold;
}

.spot-card {
    cursor: pointer;
    position: relative;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.tooltip {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: medium;
    text-align: center;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease;
    font-family: Arial, Helvetica, sans-serif;
    visibility: hidden;
    cursor: pointer;
}

.tooltip.show {
    visibility: visible;
    cursor: pointer;
    animation: fadeIn 0.5s forwards;
}

.tooltip.hide {
    animation: fadeOut 0.5s forwards;
    cursor: pointer;
    visibility: hidden;
}